<h1> <%= project.name %> / <%= @exaction.name %></h1>

<p id="notice"><%= notice %></p>

<h2>HP条件</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>条件</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @exaction.hp_conditions.each.with_index(1) do |hp_condition, i| %>
      <tr>
        <td><%= i %></td>
        <td>
          <%= link_to "#{hp_condition.value}%以下", project_exaction_hp_condition_path(project, @exaction, hp_condition) %>
        </td>
        <td>
          <%= link_to '編集', edit_project_exaction_hp_condition_path(project, @exaction, hp_condition) %>
        </td>
        <td><%= link_to '削除', [project, @exaction, hp_condition], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<table>

<div class="form-group">
<%= link_to '追加', new_project_exaction_hp_condition_path(project, @exaction), class: 'btn btn-primary' %>
</div>

<div class="form-group">
<%= link_to '編集', edit_project_exaction_path(project, @exaction), class: 'btn btn-primary' %>
<%= link_to '戻る', project, class: 'btn btn-primary' %>
</div>
