<%= form_with(model: [action_group, action_rule], local: true) do |form| %>
  <% if action_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_rule.errors.count, "error") %> prohibited this action_rule from being saved:</h2>

      <ul>
        <% action_rule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :action_group_id, value: action_group.id %>

  <div class="field">
    <% action_type_options = ActionType.all.map { |at| [at.caption, at.id] } %>
    <%= form.label :action_type_id %>
    <%= form.select :action_type_id, action_type_options %>
  </div>

  <div class="field">
    <% next_act_timing_options = NextActTiming.all.map { |at| [at.caption, at.id] } %>
    <%= form.label :next_act_timing_id %>
    <%= form.select :action_type_id, next_act_timing_options %>
  </div>

  <div class="field">
    <%= form.label :holding_time %>
    <%= form.number_field :holding_time %>
  </div>

  <div class="field">
    <%= form.label :velocity_x %>
    <%= form.text_field :velocity_x %>
  </div>

  <div class="field">
    <%= form.label :velocity_y %>
    <%= form.text_field :velocity_y %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
