<p id="notice"><%= notice %></p>

<h1>Action Rules</h1>

<table>
  <thead>
    <tr>
      <th>Action group</th>
      <th>Name</th>
      <th>Action type</th>
      <th>Next act timing</th>
      <th>Holding time</th>
      <th>Velocity x</th>
      <th>Velocity y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_rules.each do |action_rule| %>
      <tr>
        <td><%= action_rule.action_group_id %></td>
        <td><%= action_rule.name %></td>
        <td><%= action_rule.action_type_id %></td>
        <td><%= action_rule.next_act_timing_id %></td>
        <td><%= action_rule.holding_time %></td>
        <td><%= action_rule.velocity_x %></td>
        <td><%= action_rule.velocity_y %></td>
        <td><%= link_to 'Show', action_rule %></td>
        <td><%= link_to 'Edit', edit_action_rule_path(action_rule) %></td>
        <td><%= link_to 'Destroy', action_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '行動ルールの追加', new_action_rule_path %>
