<p id="notice"><%= notice %></p>

<p>
  <strong>Action chain:</strong>
  <%= @action_rule.action_chain_id %>
</p>

<p>
  <strong>Motion:</strong>
  <%= @action_rule.motion_id %>
</p>

<p>
  <strong>Move x:</strong>
  <%= @action_rule.move_x %>
</p>

<p>
  <strong>Move y:</strong>
  <%= @action_rule.move_y %>
</p>

<p>
  <strong>Next:</strong>
  <%= @action_rule.next %>
</p>

<p>
  <strong>Search:</strong>
  <%= @action_rule.search_id %>
</p>

<p>
  <strong>Target value:</strong>
  <%= @action_rule.target_value %>
</p>

<p>
  <strong>Hold:</strong>
  <%= @action_rule.hold %>
</p>

<%= link_to 'Edit', edit_action_rule_path(@action_rule) %> |
<%= link_to 'Back', action_rules_path %>
