<p id="notice" class="bg-success"><%= notice %></p>

<h1>Targets</h1>

<%= form_with(model: [project, action_state, @target], local: true) do |form| %>
  <%= form.hidden_field :action_state_id, value: action_state.id %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @targets.each.with_index(1) do |target, i| %>
        <%= form.fields_for "targets[]", target do |f| %>
          <tr>
            <td><%= i %><%= f.hidden_field :id, value: target.id %></td>
            <td><%= f.collection_select(:value, TargetType.all, :id, :caption, {prompt: false}, {class: 'form-control'}) %></td>
            <td><%= link_to '削除', [project, action_state, target], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <button class="btn btn-primary">追加</button>
  </div>

  <div class="form-group">
    <%= form.submit '保存', class: 'btn btn-primary' %>
    <%= link_to '戻る', [project, action_state], class: 'btn btn-primary' %>
  </div>
<% end %>

