<p id="notice"><%= notice %></p>

<h1>Targets</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Value</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each.with_index(1) do |target, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= target.target_type.caption %></td>
        <td><%= link_to 'Edit', '' %></td>
        <td><%= link_to 'Destroy', [project, action_state, target], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= render 'form', target: @target %>
  </tbody>
</table>

<br>

<%= link_to '戻る', [project, action_state], class: 'btn btn-primary' %>
