<%= form_with(model: [project, exaction, hp_condition, action_routine], local: true) do |form| %>
  <%= form.hidden_field :hp_condition_id, value: hp_condition.id %>
  <table class="table table-striped js-form-table">
    <thead>
      <tr>
        <th>#</th>
        <th>サーチ範囲</th>
        <th>ターゲット種別</th>
        <th>ターゲットモーション</th>
        <th colspan="2">実行確率(変数名 x 係数)</th>
        <th>前回行動キャンセル種別</th>
        <th>実行行動リスト名 <span class="label label-danger">必須</span></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% searches = project.action_state.searches %>
      <% target_types = TargetType.all %>
      <% motions = Motion.all %>
      <% rates = project.action_state.rates %>
      <% cancel_types = CancelType.all %>
      <% action_chains = project.action_chains %>

      <% action_routines.each.with_index(1) do |action_routine, i| %>
        <%= form.fields_for "action_routines[]", action_routine do |f| %>
          <%= f.hidden_field :id, value: action_routine.id %>
          <tr>
            <td><%= i %></td>
            <td><%= f.collection_select(:search_id, searches, :id, :name, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
            <td><%= f.collection_select(:target_value, target_types, :id, :caption, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
            <td><%= f.collection_select(:motion_id, motions, :id, :caption, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
            <td><%= f.collection_select(:rate_id, rates, :id, :name, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
            <td><%= f.number_field :rate_coefficient, class: 'form-control' %></td>
            <td><%= f.collection_select(:cancel_type_id, cancel_types, :id, :caption, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
            <td><%= f.collection_select(:action_chain_id, action_chains, :id, :name, {}, {class: 'form-control'}) %></td>
            <td><%= link_to '削除', [project, exaction, hp_condition, action_routine], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>

      <%= form.fields_for "new_action_routines[]", action_routine do |f| %>
        <tr class="js-new-form-item">
          <td>#</td>
          <td><%= f.collection_select(:search_id, searches, :id, :name, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
          <td><%= f.collection_select(:target_value, target_types, :id, :caption, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
          <td><%= f.collection_select(:motion_id, motions, :id, :caption, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
          <td><%= f.collection_select(:rate_id, rates, :id, :name, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
          <td><%= f.number_field :rate_coefficient, class: 'form-control' %></td>
          <td><%= f.collection_select(:cancel_type_id, cancel_types, :id, :caption, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
          <td><%= f.collection_select(:action_chain_id, action_chains, :id, :name, {}, {class: 'form-control'}) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <button class="btn btn-primary js-new-trigger">追加</button>
    <%= form.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
