<p id="notice"><%= notice %></p>

<h1>Hp Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Exaction</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hp_conditions.each do |hp_condition| %>
      <tr>
        <td><%= hp_condition.exaction_id %></td>
        <td><%= hp_condition.value %></td>
        <td><%= link_to 'Show', hp_condition %></td>
        <td><%= link_to 'Edit', edit_hp_condition_path(hp_condition) %></td>
        <td><%= link_to 'Destroy', hp_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hp Condition', new_hp_condition_path %>
