<h1><%= project.name %> / <%= exaction.name %> / <%= @hp_condition.value %>%以下</h1>

<p id="notice"><%= notice %></p>

<h2>ターゲット行動条件</h2>

<%= render 'action_table', actions: @hp_condition.actions %>

<%= link_to 'Edit', edit_project_exaction_hp_condition_path(project, exaction, @hp_condition) %> |
<%= link_to 'Back', [project, exaction] %>
