<h1><%= project.name %> / <%= exaction.name %> / <%= @hp_condition.value %>%以下</h1>

<p id="notice"><%= notice %></p>

<h2>ターゲット行動条件</h2>

<%= render 'action_table', actions: @hp_condition.actions %>

<%= link_to '編集', edit_project_exaction_hp_condition_path(project, exaction, @hp_condition), class: 'btn btn-primary' %>
<%= link_to '戻る', [project, exaction], class: 'btn btn-primary' %>
