<%= form_with(model: action_group, local: true) do |form| %>
  <% if action_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_group.errors.count, "error") %> prohibited this action_group from being saved:</h2>

      <ul>
        <% action_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Name: <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
