<p id="notice"><%= notice %></p>

<h1><%=@action_group.name %></h1>

<h2>行動ルールリスト</h2>

<% unless @action_rules.empty? %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>行動種別</th>
      <th>次行動発動タイミング</th>
      <th>ホールド時間</th>
      <th colspan="2">移動速度</th>
      <th>キャンセル条件</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @action_rules.each do |action_rule| %>
      <tr>
        <td><%= action_rule.id %></td>
        <td><%= action_rule.action_type.caption %></td>
        <td><%= action_rule.next_act_timing&.caption %></td>
        <td><%= action_rule.holding_time %></td>
        <td>X: <%= action_rule.velocity_x %></td>
        <td>Y: <%= action_rule.velocity_y %></td>
        <td><%= link_to '...', action_group_action_rule_cancel_conditions_path(@action_group, action_rule) %></td>
        <td><%= link_to '編集', edit_action_group_action_rule_path(@action_group, action_rule) %></td>
        <td><%= link_to '削除', [@action_group, action_rule], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div>
  <%= link_to '行動ルールの追加', new_action_group_action_rule_path(@action_group) %>
</div>
<div>
  <%= link_to '編集', edit_action_group_path(@action_group) %> |
  <%= link_to '戻る', action_groups_path %>
</div>
