<%= form_with(url: post_url, method: :post, local: true) do |form| %>
  <%= form.hidden_field :project_id, value: project.id %>
  <%= form.hidden_field parent_key, value: parent_id %>
  <table class="table table-striped js-form-table">
    <thead>
      <tr>
        <th>#</th>
        <th>キャンセル条件種別</th>
        <th>実行確率</th>
        <th>係数</th>
        <th>パラメタ1</th>
        <th>パラメタ2</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% cancel_types = CancelType.all %>
      <% rates = project.action_state.rates %>

      <% cancel_conditions.each.with_index(1) do |cancel_condition, i| %>
        <%= form.fields_for "cancel_conditions[]", cancel_condition do |f| %>
          <tr>
            <%= f.hidden_field :project_id, value: project.id %>
            <%= f.hidden_field :id, value: cancel_condition.id %>
            <td><%= i %></td>
            <td><%= f.collection_select(:cancel_type_id, cancel_types, :id, :caption, {prompt: false}, {class: 'form-control'}) %></td>
            <td><%= f.collection_select(:rate_id, rates, :id, :name, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
            <td><%= f.number_field :rate_coefficient, class: 'form-control' %></td>
            <td><%= f.number_field :parameter1, class: 'form-control' %></td>
            <td><%= f.number_field :parameter2, class: 'form-control' %></td>
            <td>
                <%
                  delete_path = if parent == 'action_chain'
                                  project_action_chain_action_chain_cancel_condition_path(project, action_chain, cancel_condition)
                                else
                                  project_action_chain_action_rule_action_rule_cancel_condition_path(project, action_chain, @action_rule, cancel_condition)
                                end
                %>
                <%= link_to '削除', delete_path, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <%= form.fields_for "new_cancel_conditions[]", cancel_condition do |f| %>
        <tr class="js-new-form-item">
          <%= f.hidden_field :project_id, value: project.id %>
          <td>#</td>
          <td><%= f.collection_select(:cancel_type_id, cancel_types, :id, :caption, {prompt: false}, {class: 'form-control'}) %></td>
          <td><%= f.collection_select(:rate_id, rates, :id, :name, {include_blank: '未選択'}, {class: 'form-control'}) %></td>
          <td><%= f.number_field :rate_coefficient, class: 'form-control' %></td>
          <td><%= f.number_field :parameter1, class: 'form-control' %></td>
          <td><%= f.number_field :parameter2, class: 'form-control' %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <button class="btn btn-primary js-new-trigger">追加</button>
    <%= form.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
