<%
  cancel_types = CancelType.all
  selector_source = {
    cancel_types: cancel_types,
    rates: project.action_state.rates,
    target_types: TargetType.all,
    motions: Motion.all,
    searches: project.action_state.searches
  }
%>


<script>
window.cancelTypes = <%= CancelType::DEFINITION.to_json.html_safe %>
</script>

<%= form_with(url: post_url, method: :post, local: true) do |form| %>
  <%= form.hidden_field :project_id, value: project.id %>
  <%= form.hidden_field parent_key, value: parent_id %>
  <table class="table table-striped js-form-table">
    <thead>
      <tr>
        <th>#</th>
        <th>キャンセル条件種別 <span class="label label-danger">必須</span></th>
        <th>実行確率</th>
        <th>係数</th>
        <th>パラメタ1</th>
        <th>パラメタ2</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% cancel_conditions.each.with_index(1) do |cancel_condition, i| %>
        <%= form.fields_for "cancel_conditions[]", cancel_condition do |f| %>
          <tr class="js-cancel-condition-row">
            <%= f.hidden_field :project_id, value: project.id %>
            <%= f.hidden_field :id, value: cancel_condition.id %>
            <td><%= i %></td>
            <%= render 'shared/cancel_condition_columns', parent: parent,
                                                          f: f,
                                                          cancel_condition: cancel_condition,
                                                          selector_source: selector_source %>
          </tr>
        <% end %>
      <% end %>

      <%= form.fields_for "new_cancel_conditions[]", cancel_condition do |f| %>
        <tr class="js-new-form-item">
          <%= f.hidden_field :project_id, value: project.id %>
          <td>#</td>
          <%= render 'shared/cancel_condition_columns', parent: parent,
                                                        f: f,
                                                        cancel_condition: cancel_condition,
                                                        selector_source: selector_source %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <button class="btn btn-primary js-new-trigger">追加</button>
    <%= form.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
