<%= form_with(model: target_action_condition, url: form_url, local: true) do |form| %>
  <% if target_action_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target_action_condition.errors.count, "error") %> prohibited this target_action_condition from being saved:</h2>

      <ul>
        <% target_action_condition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :ai_routine_id, value: @ai_routine.id %>
  <%= form.hidden_field :hp_condition_id, value: @hp_condition.id %>

  <div class="field">
    <%= form.label :search_range_id, 'サーチレンジ' %>
    <%= collection_select(:target_action_condition, :search_range_id, SearchRange.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :target_type_id, 'ターゲット種別' %>
    <%= collection_select(:target_action_condition, :target_type_id, TargetType.all, :id, :caption) %>
  </div>

  <div class="field">
    <%= form.label :target_motion_id, 'ターゲットモーション' %>
    <%= collection_select(:target_action_condition, :target_motion_id, TargetMotion.all, :id, :caption) %>
  </div>

  <div class="field">
    <%= form.label :probability_id, '確率変数' %>
    <%= collection_select(:target_action_condition, :probability_id, Probability.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :probability_coefficient, '確率係数' %>
    <%= form.text_field :probability_coefficient %>
  </div>

  <div class="field">
    <%= form.label :previous_cancel_type, '前回行動キャンセル種別' %>
    <%= form.number_field :previous_cancel_type %>
  </div>

  <div class="field">
    <%= form.label :action_group_id, '実行行動' %>
    <%= collection_select(:target_action_condition, :action_group_id, ActionGroup.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
