<p id="notice"><%= notice %></p>

<p>
  <strong>Hp condition:</strong>
  <%= @target_action_condition.hp_condition_id %>
</p>

<p>
  <strong>Search range:</strong>
  <%= @target_action_condition.search_range_id %>
</p>

<p>
  <strong>Target type:</strong>
  <%= @target_action_condition.target_type_id %>
</p>

<p>
  <strong>Target motion:</strong>
  <%= @target_action_condition.target_motion_id %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @target_action_condition.probability_id %>
</p>

<p>
  <strong>Probability coefficient:</strong>
  <%= @target_action_condition.probability_coefficient %>
</p>

<p>
  <strong>Previous cancel type:</strong>
  <%= @target_action_condition.previous_cancel_type %>
</p>

<p>
  <strong>Action group:</strong>
  <%= @target_action_condition.action_group_id %>
</p>

<%= link_to 'Edit', edit_target_action_condition_path(@target_action_condition) %> |
<%= link_to 'Back', target_action_conditions_path %>
