<h1><%= @action_group.name %> / 行動(<%= @action_rule.caption %>) / キャンセル条件(ID=<%= @cancel_condition.id%>)の編集</h1>

<%= render 'form', cancel_condition: @cancel_condition %>

<%= link_to 'Back', action_group_path(@action_group) %>
