<p id="notice"><%= notice %></p>

<h1>Cancel Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Cancel type</th>
      <th>Rate</th>
      <th>Rate coefficient</th>
      <th>Parameter1</th>
      <th>Parameter2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cancel_conditions.each do |cancel_condition| %>
      <tr>
        <td><%= cancel_condition.project_id %></td>
        <td><%= cancel_condition.cancel_type %></td>
        <td><%= cancel_condition.rate_id %></td>
        <td><%= cancel_condition.rate_coefficient %></td>
        <td><%= cancel_condition.parameter1 %></td>
        <td><%= cancel_condition.parameter2 %></td>
        <td><%= link_to 'Show', cancel_condition %></td>
        <td><%= link_to 'Edit', edit_cancel_condition_path(cancel_condition) %></td>
        <td><%= link_to 'Destroy', cancel_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cancel Condition', new_cancel_condition_path %>
