<p id="notice"><%= notice %></p>

<p>
  <strong>Action rule:</strong>
  <%= @cancel_condition.action_rule_id %>
</p>

<p>
  <strong>Cancel type:</strong>
  <%= @cancel_condition.cancel_type_id %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @cancel_condition.probability_id %>
</p>

<p>
  <strong>Probability coefficient:</strong>
  <%= @cancel_condition.probability_coefficient %>
</p>

<p>
  <strong>Parameter1:</strong>
  <%= @cancel_condition.parameter1 %>
</p>

<p>
  <strong>Parameter2:</strong>
  <%= @cancel_condition.parameter2 %>
</p>

<%= link_to 'Edit', edit_cancel_condition_path(@cancel_condition) %> |
<%= link_to 'Back', cancel_conditions_path %>
