<p id="notice"><%= notice %></p>

<h1>Searches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>X1</th>
      <th>Y1</th>
      <th>X2</th>
      <th>Y2</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.name %></td>
        <td><%= search.x1 %></td>
        <td><%= search.y1 %></td>
        <td><%= search.x2 %></td>
        <td><%= search.y2 %></td>
        <td><%= link_to 'Edit', '' %></td>
        <td><%= link_to 'Destroy', [project, action_state, search], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= render 'form', search: @search %>
  </tbody>
</table>

<br>

<%= link_to '戻る', [project, action_state], class: 'btn btn-primary' %>
