<p id="notice"><%= notice %></p>

<h1>確率変数</h1>

<% unless @probabilities.empty? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>デフォルト値</th>
        <th>難易度補正量</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @probabilities.each do |probability| %>
        <tr>
          <td><%= probability.id %></td>
          <td><%= probability.name %></td>
          <td><%= probability.default_value %></td>
          <td><%= probability.correction_value %></td>
          <!-- <td><%= link_to 'Show', probability %></td> -->
          <td><%= link_to '編集', edit_probability_path(probability) %></td>
          <td><%= link_to '削除', probability, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to '新規作成', new_probability_path %>
<%= link_to '戻る', home_index_path %>
