<%= form_with(model: ai_routine, local: true) do |form| %>
  <% if ai_routine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ai_routine.errors.count, "error") %> prohibited this ai_routine from being saved:</h2>

      <ul>
        <% ai_routine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '名前' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit'%>
  </div>
<% end %>
