<p id="notice"><%= notice %></p>

<h1>Rates</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.name %></td>
        <td><%= rate.value %></td>
        <td><%= link_to 'Edit', '' %></td>
        <td><%= link_to 'Destroy', [project, action_state, rate], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <%= render 'form', rate: @rate %>
  </tbody>
</table>

<br>

<%= link_to '戻る', [project, action_state], class: 'btn btn-primary' %>
