<%= form_with(model: search_range, local: true) do |form| %>
  <% if search_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_range.errors.count, "error") %> prohibited this search_range from being saved:</h2>

      <ul>
        <% search_range.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>Left</th>
        <th>Top</th>
        <th>Right</th>
        <th>Bottom</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= form.text_field :name %></td>
        <td><%= form.text_field :left %></td>
        <td><%= form.text_field :top %></td>
        <td><%= form.text_field :right %></td>
        <td><%= form.text_field :bottom %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
